@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --main-blue: #71b7e6;
    --main-purple: #9b59b6;
    --main-grey: #ccc;
    --sub-grey: #d9d9d9;
}

body {
    background-color: #F5F5F5;
}

/* inside the form gender details */


/* submit button */

form .button {
    height: 60px;
    margin-bottom: 10rem 0;
}

form .button input {
    height: 50px;
    width: 100px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    background: #005594;
    transition: all 0.3s ease;
}

form .button input:hover {
    background: #005594;
}



.modal-content form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0 1px 0;
}

.trigger {
    text-align: center;
    padding: 7px 13px;
    background: #e26d3f;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 0 3.5rem 25rem 3.5rem;
    width: 30rem;
    height: 1rem;
    background: #FBFBFB;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

.modal-content h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    margin: 5rem;
    position: absolute;
    margin-top: 2.5rem;
    white-space: nowrap;
}



.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    backdrop-filter: blur(1px);
}

.button2 input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 28px;
    font-weight: 500;
    border-radius: 20px;
    background: #FF9022;
    transition: all 0.3s ease;

}

.button2 input:hover {
    background: #FF9022;
    
} 

.button2 {
height: 60px;
margin-top: -3.8rem;
margin-left: 20rem;
}


.modal-content h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin: 11rem;
    position: absolute;
    margin-top: 12rem;
    white-space: nowrap;
}

.button3 input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 28px;
    font-weight: 500;
    border-radius: 20px;
    background: #005594;
    transition: all 0.3s ease;

}

.button3 input:hover {
    background: #FF9022;
    
} 

.button3 {
height: 60px;
margin-top: 12rem;
margin-right: 20rem;
}
